/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.small-direction-image {
  width:32px;
  height: 32px;
}
.direction {
  margin-right: 1em;
  margin-left: 1em;
  width:34%;
  text-align:center;
}
.nick {
  margin-right:8px;
  color:blue;
}
.comment {
  overflow:hidden!important;
  white-space: nowrap;
  margin-top:-8px;
  max-width:100%;
}
.id {
  color:gray;
  width:33%;
}
.distance {
  font-weight: bold;
  text-align: right;
  width:30%;
}
.bk {
  background-color:#eeeeee;
}
.list-item {
  border-bottom-width:1px!important;
  border-color:silver;
  border-bottom-style:solid;
}
.withnote
{
	background-color:#D9F9C6;
}
.remove-button {
  float:right;
  right: 32px;
  margin-top:-2em;
}

.compass {
  text-align: center;
  height:64px;
}
.compass-distance{
  text-align:center;
  font-size:xx-large;
}
.compass-header {
  text-align:right;
  background-color:silver;
  width:90%;
}
.label {
	color: #1879CD;
	font-size: 18px;
	text-transform: uppercase;
}
.popup {
	text-align: center;
}
